@using Projector.Core.Persons.DTO;
@model NewPersonData


<div asp-validation-summary="ModelOnly" class="InputError"></div>
<div class="flex flex-col w-full gap-3">
    <div class="InputGroupMD">
        <label class="Input" asp-for="@Model.UserName"></label>
        <input asp-for="@Model.UserName" class="InputMD" />
        <span asp-validation-for="@Model.UserName" class="InputError"></span>
    </div>
    <div class="InputGroupMD">
        <label class="Input" asp-for="@Model.FirstName"></label>
        <input asp-for="@Model.FirstName" class="InputMD" />
        <span asp-validation-for="@Model.FirstName" class="InputError"></span>
    </div>
    <div class="InputGroupMD">
        <label class="Input" asp-for="@Model.LastName"></label>
        <input asp-for="@Model.LastName" class="InputMD" />
        <span asp-validation-for="@Model.LastName" class="InputError"></span>
    </div>
</div>
<br/>