@using Projector.Core.Persons.DTO;
@model NewPersonData


<div asp-validation-summary="ModelOnly" class="text-danger"></div>
<div class="flex flex-col w-full gap-3">
    <div>
        <label class="flex-none font-bold" asp-for="@Model.UserName"></label>
        <input asp-for="@Model.UserName" class="input input-bordered flex flex-grow w-full max-w-md" />
        <span asp-validation-for="@Model.UserName" class="text-red-300"></span>
    </div>
    <div>
        <label class="flex-none font-bold" asp-for="@Model.FirstName"></label>
        <input asp-for="@Model.FirstName" class="input input-bordered flex flex-grow w-full max-w-md" />
        <span asp-validation-for="@Model.FirstName" class="text-red-300"></span>
    </div>
    <div>
        <label class="flex-none font-bold" asp-for="@Model.LastName"></label>
        <input asp-for="@Model.LastName" class="input input-bordered flex flex-grow w-full max-w-md" />
        <span asp-validation-for="@Model.LastName" class="text-red-300"></span>
    </div>
</div>
<br/>