@model PersonsListViewModel

@{
    ViewData["Title"] = "List of Persons";
    Layout = "_Authenticated";
}

<div class="flex flex-col w-full space-y-4">
    <form method="GET" asp-controller="Persons" asp-action="Persons" class="flex flex-grow w-full">
        <div class="SearchBar join">
            @if (Model.Args == null || string.IsNullOrEmpty(Model.Args.Term))
            {
                <input type="text" value="" placeholder="Search Persons" name="term"
                    class="SearchBar join-item"
                    />
            }
            else
            {
                <input type="text" value="@Model.Args.Term" placeholder="Search" name="term"
                       class="SearchBar join-item" />
            }
            <input type="submit" class="SearchBar join-item" value="Search" />
        </div>
    </form>

    @if (Model.Results.TotalPersons == 0)
    {
        <div align="center">
            <h2 class="EmptyList">No Person Available</h2>
        </div>
        <!-- Impossible ?? since the current user is a person -->
    }
    else
    {
        <div class="flex flex-col flex-grow w-full gap-4">
            @foreach (var person in Model.Results.People)
            {
                <div class="ListEntry">
                    <input class="flex-grow w-full" type="checkbox" />
                    <div class="ListTitle">
                        @person.FullName
                        @if (person.User.IsVerified)
                        {
                            <span class="Verified">Verified</span>
                        }
                        else
                        {
                            <span class="NotVerified">Not Verified</span>
                        }
                    </div>
                    <div class="collapse-content">
                        <div class="grid grid-cols-2">
                        <p class="col-span-1">@person.User.UserName</p>
                            @if (Model.PersonId != person.Id)
                            {
                                <div class="grid grid-cols-3 col-span-1 justify-items-stretch gap-2">
                                    <a asp-controller="Persons" asp-action="Details" asp-route-personId="@person.Id"
                                       class="Primary">Projects</a>

                                    <a asp-controller="Persons" asp-action="Edit" asp-route-personId="@person.Id"
                                       class="Secondary">Edit</a>
                                    <a asp-controller="Persons" asp-action="ConfirmDelete" asp-route-personId="@person.Id"
                                       class="Danger">Delete</a>
                                </div>
                            }
                            else
                            {
                                <div class="col-span-1 flex justify-end gap-2">
                                    <a asp-controller="Persons" asp-action="Details" asp-route-personId="@person.Id"
                                       class="Primary FormButton">Projects</a>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            }
        </div>
        @if (Model.PageArgs.Count > 0)
        {
            <div class="flex flex-grow w-full">
                <div class="flex flex-grow w-full">
                    <div class="join flex flex-grow">
                        @for (int i = 0; i < Model.PageArgs.Count; i += 1)
                        {
                            //if previous button
                            if (i == 0 && Model.HasPreviousPage)
                            {
                                <a asp-controller="Persons" asp-action="Persons" asp-all-route-data="@Model.PageArgs[i]" class="join-item btn">«</a>
                                continue;
                            }
                            //if current page
                            if (Model.Args.Page.ToString() == Model.PageArgs[i]["Page"])
                            {
                                <a class="join-item btn btn-disabled">@Model.Args.ViewPage</a>
                                continue;
                            }
                            // if next button
                            if (i == Model.PageArgs.Count - 1 && Model.HasNextPage)
                            {
                                <a asp-controller="Persons" asp-action="Persons" asp-all-route-data="@Model.PageArgs[i]" class="join-item btn">»</a>
                                continue;
                            }

                            <a asp-controller="Persons" asp-action="Persons" asp-all-route-data="@Model.PageArgs[i]" class="join-item btn">@Model.GetPageNumber(Model.PageArgs[i]["Page"])</a>
                        }
                    </div>
                    <div class="max-w-fit">
                        <a asp-controller="Persons" asp-action="Persons" asp-route-PageSize="5" asp-route-Term="@Model.Args.Term" class="Primary FormButton">View 5</a>
                        <a asp-controller="Persons" asp-action="Persons" asp-route-PageSize="10" asp-route-Term="@Model.Args.Term" class="Primary FormButton">View 10</a>
                    </div>
                </div>
            </div>
        }   
    }
</div>

