@model PersonsListViewModel

@{
    ViewData["Title"] = "List of Persons";
    Layout = "_Authenticated";
}

<div class="flex flex-col w-full space-y-4">
    <form method="GET" asp-controller="Persons" asp-action="Persons" class="flex flex-grow w-full">
        <div class="flex flex-grow w-full">
            @if (Model.Args == null || string.IsNullOrEmpty(Model.Args.Term))
            {
                <input type="text" value="" placeholder="Search Persons" name="term"
                    class="input input-bordered join-item flex flex-grow w-full"
                    />
            }
            else
            {
                <input type="text" value="@Model.Args.Term" placeholder="Search" name="term"
                       class="input input-bordered join-item flex flex-grow w-full" />
            }
            <input type="submit" class="btn join-item" value="Search" />
        </div>
    </form>

    @if (Model.Results.TotalPersons == 0)
    {
        <div align="center">
            <h2 class="text-4xl font-bold">No Person Available</h2>
        </div>
        <!-- Impossible ?? since the current user is a person -->
    }
    else
    {
        <div class="flex flex-col flex-grow w-full gap-4">
            @foreach (var person in Model.Results.People)
            {
                <div class="collapse collapse-arrow bg-base-200 shadow-md flex-grow w-full">
                    <input class="flex-grow w-full" type="checkbox" />
                    <div class="collapse-title text-xl font-medium flex-grow w-full">
                        <h2 class="card-title">@person.FullName
                            @if (person.User.IsVerified)
                            {
                                <span class="badge badge-primary gap-2">Verified</span>
                            }
                            else
                            {
                                <span class="badge badge-error gap-2">Not Verified</span>
                            }
                        </h2>
                    </div>
                    <div class="collapse-content">
                        <div class="grid grid-cols-3">
                        <p class="col-span-2">@person.User.UserName</p>
                        <div class="grid grid-cols-3 col-span-1 justify-items-stretch gap-4">
                            <a asp-controller="Persons" asp-action="Details" asp-route-personId="@person.Id"
                               class="btn btn-secondary">Projects</a>

                            @if (Model.PersonId != person.Id)
                            {
                                <a asp-controller="Persons" asp-action="Edit" asp-route-personId="@person.Id"
                                   class="btn btn-info">Edit</a>
                                <a asp-controller="Persons" asp-action="ConfirmDelete" asp-route-personId="@person.Id"
                                   class="btn btn-accent">Delete</a>
                            }
                        </div>
                        </div>
                    </div>
                </div>
            }
        </div>
        @if (Model.PageArgs.Count > 0)
        {
            <div class="flex flex-grow w-full">
                <div class="flex flex-grow w-full">
                    <div class="join flex flex-grow">
                        @for (int i = 0; i < Model.PageArgs.Count; i += 1)
                        {
                            //if previous button
                            if (i == 0 && Model.HasPreviousPage)
                            {
                                <a asp-controller="Persons" asp-action="Persons" asp-all-route-data="@Model.PageArgs[i]" class="join-item btn">«</a>
                                continue;
                            }
                            //if current page
                            if (Model.Args.Page.ToString() == Model.PageArgs[i]["Page"])
                            {
                                <a class="join-item btn btn-disabled">@Model.Args.ViewPage</a>
                                continue;
                            }
                            // if next button
                            if (i == Model.PageArgs.Count - 1 && Model.HasNextPage)
                            {
                                <a asp-controller="Persons" asp-action="Persons" asp-all-route-data="@Model.PageArgs[i]" class="join-item btn">»</a>
                                continue;
                            }

                            <a asp-controller="Persons" asp-action="Persons" asp-all-route-data="@Model.PageArgs[i]" class="join-item btn">@Model.GetPageNumber(Model.PageArgs[i]["Page"])</a>
                        }
                    </div>
                    <div class="max-w-fit">
                        <a asp-controller="Persons" asp-action="Persons" asp-route-PageSize="5" asp-route-Term="@Model.Args.Term" class="btn btn-primary">View 5</a>
                        <a asp-controller="Persons" asp-action="Persons" asp-route-PageSize="10" asp-route-Term="@Model.Args.Term" class="btn btn-primary">View 10</a>
                    </div>
                </div>
            </div>
        }   
    }
</div>

