@using Projector.Core.Projects
@using System.Globalization;
@using Projector.Core.Projects.DTO;
@model ProjectData

<div asp-validation-summary="ModelOnly" class=" text-red-300"></div>
<input asp-for="@Model.Id" type="hidden" />
<div class="flex flex-col w-full gap-3">
    <div>
        <label for="Code" class="flex-none"><b>Project Code</b></label>
        <input asp-for="@Model.Code" class="input input-bordered flex flex-grow w-full max-w-md" />
        <span asp-validation-for="@Model.Code" class=" text-red-300"></span>
    </div>
    <div>
        <label for="Name"><b>Project Name</b></label>
        <input asp-for="@Model.Name" class="input input-bordered flex flex-grow w-full max-w-md" />
        <span asp-validation-for="@Model.Name" class=" text-red-300"></span>
    </div>
    <div>
        <label for="Budget"><b>Budget</b></label><br />
        <div class="join flex flex-grow w-full max-w-md">
            <div class="btn disabled join-item justify-self-center max-h-fit">
                <span class="max-h-fit justify-self-center">@NumberFormatInfo.CurrentInfo.CurrencySymbol</span>
            </div>
            <input asp-for="@Model.BudgetString" type="text" class="input input-bordered join-item flex flex-grow w-full max-w-md">
        </div>
        <span asp-validation-for="@Model.BudgetString" class="text-red-300"></span>
    </div>
    <div>
        <label for="Remarks"><b>Remarks</b></label>
        <textarea asp-for="@Model.Remarks" class="textarea textarea-bordered flex flex-grow w-full max-w-md" rows="5"></textarea>
        <span asp-validation-for="@Model.Remarks" class=" text-red-300"></span>
    </div>
</div>
<br />