@using Projector.Core.Projects
@using System.Globalization;
@using Projector.Core.Projects.DTO;
@model ProjectData

<div asp-validation-summary="ModelOnly" class="InputError"></div>
<input asp-for="@Model.Id" type="hidden" />
<div class="flex flex-col w-full gap-3">
    <div class="InputGroupMD">
        <label class="Input" for="Code">Project Code</label>
        <input asp-for="@Model.Code" class="InputMD" />
        <span asp-validation-for="@Model.Code" class="InputError"></span>
    </div>
    <div class="InputGroupMD">
        <label class="Input" for="Name">Project Name</label>
        <input asp-for="@Model.Name" class="InputMD" />
        <span asp-validation-for="@Model.Name" class="InputError"></span>
    </div>
    <div class="InputGroupMD">
        <label class="Input" for="Budget">Budget</label><br />
        <div class="join flex flex-grow w-full max-w-md">
            <div class="btn disabled join-item justify-self-center max-h-fit">
                <span class="max-h-fit justify-self-center">@NumberFormatInfo.CurrentInfo.CurrencySymbol</span>
            </div>
            <input asp-for="@Model.BudgetString" type="text" class="InputMD">
        </div>
        <span asp-validation-for="@Model.BudgetString" class="text-red-300"></span>
    </div>
    <div class="InputGroupMD">
        <label class="Input" for="Remarks">Remarks</label>
        <textarea asp-for="@Model.Remarks" class="InputMD" rows="5"></textarea>
        <span asp-validation-for="@Model.Remarks" class="InputError"></span>
    </div>
</div>
<br />