@using Projector.Core.Projects.DTO
@using System.Globalization;
@model ProjectDetailsData

@{
    var EmptyRemarks = "None";
}

<h2 class="card-title">@Model.Name</h2>
<dl>
    <dt class="font-semibold">Code</dt>
    <dd>@Model.Code</dd>

    <dt class="font-semibold">Budget</dt>
    <dd>@Model.Budget.ToString("C2", CultureInfo.CurrentCulture)</dd>

    <dt class="font-semibold">Remarks</dt>
    <dd>
        @if (string.IsNullOrEmpty(@Model.Remarks))
        {
            @EmptyRemarks
        }
        else
        {
            @Model.Remarks
        }
    </dd>
</dl>
