@using Projector.Core.Persons.DTO
@model UnassignedPersonsData

    @if (Model.Unassigned.Length == 0)
    {
        <div class="join flex flex-grow w-full">
            <select class="select w-full join-item" id="addPerson" disabled>
                <option selected> No employee available </option>
            </select>
            <button class="btn join-item disabled" disabled type="button">Assign to Project</button>
        </div>
    }
    else
    {
        <form id="addPersonToProjectForm" action="@Url.Action("Assign", "Projects")" method="post">
            @Html.AntiForgeryToken()
            <input type="hidden" id="projectId" name="projectId" value="@Model.UnassignedProjectId" />
            <div class="join flex flex-grow w-full">
                <select class="select w-full join-item" id="addPerson">
                    <option selected value="0">Choose Employee...</option>
                    @foreach (var employee in Model.Unassigned)
                    {
                        <option value="@employee.Id">@employee.FullName</option>
                    }
                </select>
                <button class="SearchBar join-item" id="addPersonToProjectButton" type="button">Assign to Project</button>
            </div>
            <span id="selectError" class="text-red-300"></span>
        </form>
    }
