@using System.Globalization;
@model DeleteProjectViewModel

@{
    ViewData["Title"] = "Delete Project";
    var EmptyRemarks = "None";
    Layout = "_Authenticated";
}

<div class="flex flex-col w-full h-full space-y-4">
    <div class="card card-compact CardPrompt-Danger">
        <div class="card-body">
            <h2 class="CardHeader">Are you really sure you want to delete this project?</h2>
            <p>This project will then be removed from each assigned employee's project list.</p>
        </div>
    </div>
    <div>
        <h2 class="DetailsHeader">@Model.Project.Name</h2>
        <dl>
            <dt>Code</dt>
            <dd>@Model.Project.Code</dd>

            <dt>Budget</dt>
            <dd>@Model.Project.Budget.ToString("C2", CultureInfo.CurrentCulture)</dd>

            <dt>Remarks</dt>
            <dd>
                @if (string.IsNullOrEmpty(@Model.Project.Remarks))
                {
                    @EmptyRemarks
                }
                else
                {
                    @Model.Project.Remarks
                }
            </dd>
        </dl>
    </div>
    <div>
        <form method="POST" asp-controller="Projects" asp-action="Delete">
            <div>
                <input asp-for="@Model.Project.Id" type="hidden" class="form-control" />
                <input type="submit" value="Yes, Delete" class="Danger FormButton" />
                <a asp-controller="Projects" asp-action="ProjectDetails" asp-route-projectId="@Model.Project.Id" class="Neutral FormButton">Cancel</a>
            </div>
        </form>
    </div>
</div>

