@using System.Globalization;
@model DeleteProjectViewModel

@{
    ViewData["Title"] = "Delete Project";
    var EmptyRemarks = "None";
    Layout = "_Authenticated";
    ViewData["Area"] = "Projects";
}

<div class="flex flex-col w-full h-full space-y-4">
    <div class="pr-breadcrumbs">
        <ul>
            <li><a asp-controller="Projects" asp-action="Projects">Projects</a></li>
            <li><a asp-controller="Projects" asp-action="ProjectDetails" asp-route-projectId="@Model.Project.Id">@Model.Project.Name</a></li>
            <li>Delete Project</li>
        </ul>
    </div>
    <div class="pr-card-warning w-full max-w-full">
        <div class="pr-card-header">
            <h3>Are you really sure you want to delete this project?</h3>
            <p>This project will then be removed from the project list of all assigned employees.</p>
        </div>
        <div class="pr-card-footer space-x-2">
            <form method="POST" asp-controller="Projects" asp-action="Delete">
                <input asp-for="@Model.Project.Id" type="hidden" />
                <input type="submit" value="Yes, Delete" class="pr-btn-warning" />
                <a asp-controller="Projects" asp-action="ProjectDetails" asp-route-projectId="@Model.Project.Id" class="pr-btn-secondary">View Details</a>
            </form>
        </div>
    </div>
    <div class="pr-card w-full max-w-full">
        <div class="pr-card-header">
            <h3>@Model.Project.Name</h3>
            @if (!string.IsNullOrEmpty(Model.Project.Remarks))
            {
                <p>@Model.Project.Remarks</p>
            }
        </div>
        <div class="pr-card-content">
            <dl class="pr-description-list">
                <div>
                    <dt>Code</dt>
                    <dd>@Model.Project.Code</dd>
                </div>
                <div>
                    <dt>Budget</dt>
                    <dd>@Model.Project.Budget.ToString("C2", CultureInfo.CurrentCulture)</dd>
                </div>
            </dl>
        </div>
    </div>
</div>

