@using System.Globalization;
@model ProjectsListViewModel

@{
    ViewData["Title"] = "Home Page";
    Layout = "_Authenticated";
    ViewData["Area"] = "Projects";
}

<div class="flex flex-col w-full space-y-4">
    <div class="flex flex-row space-between w-full">
        <div class="pr-breadcrumbs">
            <ul>
                <li>Projects</li>
                <li>List Projects</li>
            </ul>
        </div>
        <div class="flex flex-row space-x-1 md:w-fit w-full">
            <form method="GET" asp-controller="Projects" asp-action="Projects">
                @if (Model.Args == null || string.IsNullOrEmpty(Model.Args.Term))
                {
                    <input type="text" value="" name="term"
                           class="pr-input md:w-96" placeholder="Search..." />
                }
                else
                {
                    <input type="text" value="@Model.Args.Term" name="term"
                           class="pr-input md:w-96" placeholder="Search..." />
                }
            </form>
            <div class="divider divider-horizontal"></div>
            <a class="pr-btn-primary-thin" asp-controller="Projects" asp-action="Create">New Project</a>
        </div>
    </div>
    
    @if(Model.Results.TotalProjects == 0)
    {
        <div align="center" class="pt-5">
            <h2 class="empty-table">No Projects Available</h2>
        </div>
    }
    else
    {
        <div class="pr-table">
            <table class="pr-table">
                <thead class="pr-table-header">
                    <tr class="pr-table-row">
                        <th class="pr-table-head">Code</th>
                        <th class="pr-table-head">Name</th>
                        <th class="pr-table-head">Remarks</th>
                        <th class="pr-table-head">Budget</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody class="pr-table-body">
                    @foreach(var item in Model.Results.Projects){
                        <tr class="pr-table-row">
                            <td class="pr-table-cell">@item.Code</td>
                            <td class="pr-table-cell">@item.Name</td>
                            <td class="pr-table-cell">@item.Remarks</td>
                            <td class="pr-table-cell text-right">@item.Budget.ToString("C2", CultureInfo.CurrentCulture)</td>
                            <td class="pr-table-cell max-w-fit">
                                <span class="inline-block flex w-full justify-center gap-2">
                                    <!--Info-->
                                    <a asp-controller="Projects" asp-action="ProjectDetails" asp-route-projectId="@item.Id">
                                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" class="pr-btn-icon">
                                            <path stroke-linecap="round" stroke-linejoin="round" d="M11.25 11.25l.041-.02a.75.75 0 011.063.852l-.708 2.836a.75.75 0 001.063.853l.041-.021M21 12a9 9 0 11-18 0 9 9 0 0118 0zm-9-3.75h.008v.008H12V8.25z" />
                                        </svg>
                                    </a>
                                    <!--Edit-->
                                    <a asp-controller="Projects" asp-action="Edit" asp-route-projectId="@item.Id">
                                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" class="pr-btn-icon">
                                            <path stroke-linecap="round" stroke-linejoin="round" d="M16.862 4.487l1.687-1.688a1.875 1.875 0 112.652 2.652L10.582 16.07a4.5 4.5 0 01-1.897 1.13L6 18l.8-2.685a4.5 4.5 0 011.13-1.897l8.932-8.931zm0 0L19.5 7.125M18 14v4.75A2.25 2.25 0 0115.75 21H5.25A2.25 2.25 0 013 18.75V8.25A2.25 2.25 0 015.25 6H10" />
                                        </svg>

                                    </a>
                                    <!--Delete-->
                                    <a asp-controller="Projects" asp-action="ConfirmDelete" asp-route-projectId="@item.Id">
                                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" class="pr-btn-icon-warning">
                                            <path stroke-linecap="round" stroke-linejoin="round" d="M14.74 9l-.346 9m-4.788 0L9.26 9m9.968-3.21c.342.052.682.107 1.022.166m-1.022-.165L18.16 19.673a2.25 2.25 0 01-2.244 2.077H8.084a2.25 2.25 0 01-2.244-2.077L4.772 5.79m14.456 0a48.108 48.108 0 00-3.478-.397m-12 .562c.34-.059.68-.114 1.022-.165m0 0a48.11 48.11 0 013.478-.397m7.5 0v-.916c0-1.18-.91-2.164-2.09-2.201a51.964 51.964 0 00-3.32 0c-1.18.037-2.09 1.022-2.09 2.201v.916m7.5 0a48.667 48.667 0 00-7.5 0" />
                                        </svg>
                                    </a>
                                </span>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>

        @if (Model.PageArgs.Count > 0)
        {
            <div class="flex flex-grow w-full">
                <div class="flex flex-grow w-full">
                    <div class="flex flex-grow gap-2">
                        <a asp-controller="Projects" asp-action="Projects" asp-route-PageSize="5" asp-route-Term="@Model.Args.Term" class="pr-btn-primary">View 5</a>
                        <a asp-controller="Projects" asp-action="Projects" asp-route-PageSize="10" asp-route-Term="@Model.Args.Term" class="pr-btn-outline">View 10</a>
                    </div>
                    <div class="join max-w-fit">
                        @for(int i=0; i<Model.PageArgs.Count; i += 1)
                        {
                            //if previous button
                            if(i==0 && Model.HasPreviousPage)
                            {
                                <a asp-controller="Projects" asp-action="Projects" asp-all-route-data="@Model.PageArgs[i]" class="join-item pr-btn-outline">
                                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="pr-btn-icon">
                                        <path stroke-linecap="round" stroke-linejoin="round" d="M15.75 19.5L8.25 12l7.5-7.5" />
                                    </svg>
                                </a>
                                continue;
                            }
                            //if current page
                            if (Model.Args.Page.ToString() == Model.PageArgs[i]["Page"])
                            {
                                <a class="join-item pr-btn-outline-disabled" disabled>@Model.Args.ViewPage</a>
                                continue;
                            }
                            // if next button
                            if(i==Model.PageArgs.Count-1 && Model.HasNextPage)
                            {
                                <a asp-controller="Projects" asp-action="Projects" asp-all-route-data="@Model.PageArgs[i]" class="join-item pr-btn-outline">
                                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1" stroke="currentColor" class="pr-btn-icon">
                                        <path stroke-linecap="round" stroke-linejoin="round" d="M8.25 4.5l7.5 7.5-7.5 7.5" />
                                    </svg>
                                </a>
                                continue;
                            }

                            <a asp-controller="Projects" asp-action="Projects" asp-all-route-data="@Model.PageArgs[i]" class="join-item pr-btn-outline">@Model.GetPageNumber(Model.PageArgs[i]["Page"])</a>
                        }
                    </div>
                </div>
            </div>
        }
    }
</div>
