@model ProjectDetailsViewModel
@{
    ViewData["Title"] = "ProjectDetails";
    Layout = "_Authenticated";
}

<div class="flex flex-col w-full h-full space-y-4">
    <div class="pr-breadcrumbs">
        <ul>
            <li><a asp-controller="Projects" asp-action="Projects">Projects</a></li>
            <li>@Model.Details.Name</li>
        </ul>
    </div>
    <div class="flex flex-row flex-wrap gap-5 justify-start">
        <div class="md:w-96 w-full md:max-w-sm max-w-full">
            <div class="pr-card w-full max-w-full md:max-w-sm md:w-96">

                <partial name="_ProjectInformation" model="@Model.Details" />

                <div class="pr-card-footer space-x-2">
                    <a asp-controller="Projects" asp-action="Edit" asp-route-projectId="@Model.Details.Id" class="pr-btn-primary-outline">Edit</a>
                    <a asp-controller="Projects" asp-action="Delete" asp-route-projectId="@Model.Details.Id" class="pr-btn-warning-outline">Delete</a>
                    <a asp-controller="Projects" asp-action="Projects" class="pr-btn-secondary-outline">Back to List</a>
                </div>
            </div>
        </div>
        <div id="Assignments" class="flex md:w-2/3 w-full md:max-w-xl">
            <partial name="_Assignments" model="@Model" />
        </div>
    </div>
</div>

@section Scripts {
    <script src="~/js/ProjectDetailsView.js" asp-append-version="true"></script>
    <script type="text/javascript">
        window.projectDetailsView.initialize();
    </script>
}
