@using Projector.Core.Users.DTO;
@model PasswordData

<input asp-for="@Model.Token" class="form-control" type="hidden" />
<input asp-for="@Model.Status" class="form-control" type="hidden" />

<div class="InputGroupXS">
    <label class="Input" asp-for="@Model.Password"></label>
    <input class="InputXS" asp-for="@Model.Password" />
    <span class="InputError" asp-validation-for="@Model.Password"></span>
</div>
<div class="InputGroupXS">
    <label class="Input" asp-for="@Model.ConfirmPassword"></label>
    <input class="InputXS" asp-for="@Model.ConfirmPassword" />
    <span class="InputError" asp-validation-for="@Model.ConfirmPassword"></span>
</div>
<br />
