@using Projector.Core.Users.DTO;
@model PasswordData

<input asp-for="@Model.Token" class="form-control" type="hidden" />
<input asp-for="@Model.Status" class="form-control" type="hidden" />

<div class="form-group w-full max-w-xs">
    <label class="font-bold label" asp-for="@Model.Password"></label>
    <input class="input input-bordered w-full max-w-xs" asp-for="@Model.Password" />
    <span class="text-red-600" asp-validation-for="@Model.Password"></span>
</div>
<div class="form-group w-full max-w-xs">
    <label class="font-bold label" asp-for="@Model.ConfirmPassword"></label>
    <input class="input input-bordered w-full max-w-xs" asp-for="@Model.ConfirmPassword" />
    <span class="text-red-600" asp-validation-for="@Model.ConfirmPassword"></span>
</div>
<br />
