@using Projector.Core.Users.DTO;
@model PasswordData

<input asp-for="@Model.Token" class="form-control" type="hidden" />
<input asp-for="@Model.Status" class="form-control" type="hidden" />

<div class="form-group">
    <label asp-for="@Model.Password"></label>
    <input asp-for="@Model.Password" class="form-control" />
    <span asp-validation-for="@Model.Password" class="text-danger"></span>
</div>
<div class="form-group">
    <label asp-for="@Model.ConfirmPassword"></label>
    <input asp-for="@Model.ConfirmPassword" class="form-control" />
    <span asp-validation-for="@Model.ConfirmPassword" class="text-danger"></span>
</div>
<br />
