@using Projector.Core.Users.DTO;
@model PasswordData

<div class="pr-form-field">
    <input asp-for="@Model.Token" type="hidden" />
    <input asp-for="@Model.Status" type="hidden" />

    <div class="pr-form-item">
        <label asp-for="@Model.Password"></label>
        <input class="pr-input" asp-for="@Model.Password" />
        <span class="error-message" asp-validation-for="@Model.Password"></span>
    </div>
    <div class="pr-form-item">
        <label asp-for="@Model.ConfirmPassword"></label>
        <input class="pr-input" asp-for="@Model.ConfirmPassword" />
        <span class="error-message" asp-validation-for="@Model.ConfirmPassword"></span>
    </div>
</div>