@using Projector.Core.Users.DTO;
@model PasswordData

<div class="pr-form-field-auth">
    <input asp-for="@Model.Token" class="form-control" type="hidden" />
    <input asp-for="@Model.Status" class="form-control" type="hidden" />

    <div class="pr-form-item">
        <label class="pr-form-item-label" asp-for="@Model.Password"></label>
        <input class="pr-input" asp-for="@Model.Password" />
        <span class="pr-form-message" asp-validation-for="@Model.Password"></span>
    </div>
    <div class="pr-form-item">
        <label class="pr-form-item-label" asp-for="@Model.ConfirmPassword"></label>
        <input class="pr-input" asp-for="@Model.ConfirmPassword" />
        <span class="pr-form-message" asp-validation-for="@Model.ConfirmPassword"></span>
    </div>
</div>