@using Projector.Core.Users.DTO
@model NewUserData

<form method="POST" asp-controller="Users" asp-action="Register">
    <div asp-validation-summary="ModelOnly" class="text-error"></div>
    <div class="form-control w-full max-w-md">
        <label class="font-bold label" asp-for="@Model.UserName"></label>
        <input class="input input-bordered w-full max-w-md" asp-for="@Model.UserName" class="form-control" />
        <span class="text-red-600 required:border-red-500" asp-validation-for="@Model.UserName" class="text-danger"></span>
    </div>
    <div class="form-control w-full max-w-md">
        <label class="font-bold label" asp-for="@Model.Password"></label>
        <input class="input input-bordered w-full w-max-md" asp-for="@Model.Password" class="form-control" />
        <span class="text-red-600" asp-validation-for="@Model.Password" class="text-danger"></span>
    </div>
    <div class="form-control w-full max-w-md">
        <label class="font-bold label" asp-for="@Model.ConfirmPassword"></label>
        <input class="input input-bordered w-full w-max-md" asp-for="@Model.ConfirmPassword" class="form-control" />
        <span class="text-red-600" asp-validation-for="@Model.ConfirmPassword" class="text-danger"></span>
    </div>
    <div class="form-control w-full max-w-md">
        <label class="font-bold label" asp-for="@Model.FirstName"></label>
        <input class="input input-bordered w-full w-max-md" asp-for="@Model.FirstName" class="form-control" />
        <span class="text-red-600" asp-validation-for="@Model.FirstName" class="text-danger"></span>
    </div>
    <div class="form-control w-full max-w-md">
        <label class="font-bold label" asp-for="@Model.LastName"></label>
        <input class="input input-bordered w-full w-max-md" asp-for="@Model.LastName" class="form-control" />
        <span class="text-red-600" asp-validation-for="@Model.LastName" class="text-danger"></span>
    </div>
    <br />
    <div>
        <input type="submit" value="Register" class="btn btn-primary w-full" />
    </div>
    <br />
    <div class="text-center">
        <span>Already have an account?</span><br />
        <a asp-controller="Users" asp-action="SignIn" class="btn btn-secondary w-full">Login</a>
    </div>
</form>