@using Projector.Core.Users.DTO
@model UserData

<div class="pr-form-field">
    <div class="pr-form-item">
        <label asp-for="@Model.UserName"></label>
        <input class="pr-input" asp-for="@Model.UserName" />
        <span class="error-message" asp-validation-for="@Model.UserName"></span>
    </div>
    <div class="pr-form-item w-full">
        <label asp-for="@Model.Password"></label>
        <input class="pr-input w-full" asp-for="@Model.Password" />
        <span class="error-message" asp-validation-for="@Model.Password"></span>
    </div>
</div>
