@model VerifyUserViewModel
@{
    ViewData["Verify Email"] = "Verify Account";
}

<main role="main" class="flex h-screen min-h-full flex-col justify-center bg-gray-100">
    <div class="flex flex-col flex-grow place-content-center justify-center">
        <div class="flex flex-row w-full max-w-10xl pb-10 lg:py-12 lg:px-8 place-content-center">
            <div class="pr-card w-full max-w-sm">
                <div class="pr-card-header">
                    <h3>Verify Email Address</h3>
                    <p>Enter the verification code found in the verification email.</p>
                </div>
                <form class="w-full" method="POST" asp-controller="Users" asp-action="Verify">
                    <div class="pr-card-content">
                        <div class="w-full">
                            @if (Model.Errors.Any())
                            {
                                <div role="alert">
                                    @foreach (var error in Model.Errors)
                                    {
                                        <span class="error-message">@error</span>
                                    }
                                </div>
                            }

                            <div class="pr-form-field">
                                <input type="hidden" asp-for="@Model.Token" />
                                <input type="hidden" asp-for="@Model.UserId" />
                                <div class="pr-form-item">
                                    <label asp-for="@Model.Code">Verification Code</label>
                                    <input type="text" required asp-for="@Model.Code" class="pr-input" />
                                    <span asp-validation-for="@Model.Code" class="error-message"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="pr-card-footer">
                        <input type="submit" value="Verify Account" class="pr-btn-primary w-full" />
                    </div>
                </form>
            </div>
        </div>
    </div>
</main>